	@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

	body{
		padding: 0; margin: 0 auto;
		left: 0; top: 0;
		font-weight: 300;
		font-family: 'Rubik', sans-serif;
		color: #000;
		padding-top: 64px; padding-bottom: 64px;
		font-size: 17px;
	}
	html{ margin: 0; padding: 0;}
	*, * > *{	transition: .25s linear;}
	img { max-width: 100%; }
	/* Some basic styling */
	a{ text-decoration: none; color: inherit; }
	.strong{ font-weight: 600; }


	.container{
		width: 100%; max-width: 960px;
		margin: 0 auto;
		text-align: center;
		padding: 1rem;
		box-sizing: border-box;
	}
	.container.big{ max-width: 1170px; }
	.visited {
		transition: opacity 0.15s;
		opacity: 0.5;
	}
	/* ----------------------------------- */

	.sr-only {
		border: 0 !important;
		clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
		-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;  /* 2 */
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
		white-space: nowrap !important;            /* 3 */
	}

	/* Cookie message */
	.aviso-cookies{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 10000;
		background-color: white;
		padding: 1rem;
		box-sizing: border-box;
		width: 100%;
		font-size: .9rem;
		border-top: 1px solid #eee;

		button{
			display: block;
			width: 100%;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: 600;
			border: none;
			background-color: #FF4114;
			padding: .5rem 0px;
			color: white;
			border-radius: 6px;
			border: 1px solid #eee;
			outline: none;

			&:hover{
				cursor: pointer;
			}
			&.cancel{
				color: #444;
				background-color: white;
			}
		}
		a{
			font-weight: 700;
			background-color: rgba(221,224,244,0.9);
			transition: .1s linear;
		}
		@media only screen and (min-width : 425px) {
			max-width: 275px;
			box-shadow: 0 6px 40px rgba(0,0,0,.3);
			border-radius: 6px;
			bottom: 1rem;
			border-top: none;
			left: 1rem;
		}
	}

	/* Hero section on some pages */
	.hero{
		max-width: 100%;
		min-height: 45vh;
		display: flex; flex-flow: column wrap;
		box-sizing: border-box;
		justify-content: center; align-items: center;
		background-size: cover;
		background-position: center;
		position: relative;
		color: white;
		overflow: hidden;

		.wave{
			position: absolute;
			transition: none;
			bottom: -5px;
			left: 0;
			z-index: 20;
			width: 100vw;
			fill: white;
			
			@media only screen and (min-width : 800px) {
				bottom: -50px;
			}
		}
		
		.container{
			z-index: 6;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .4);
			z-index: 2;
		}
	}
	.hero p{
		text-align: left;
		margin: 0; padding: 0;
		margin-bottom: .5rem;
		font-size: 1.2rem;
	}
	.hero h1{
		font-weight: 400;
		font-size: 1rem;
		text-align: left;
		margin: 0; padding: 0;
		margin-bottom: .5rem;
		color: #87F5FB;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	/* ----------------------------------- */

	/* Footer */
	.footer{
		background-color: #003666;
		color: white;

		.container{
			font-size: 1rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between; 
			align-items: flex-start;
			text-align: left;
			
			.copy{
				flex: 0 0 100%;
				text-align: left;

				.inside{
					position: relative;
					padding: 0 1rem;
				}

				.img{
					background-color: rgb(242, 242, 242);
					padding: 1rem;
					border-radius: 50%;
					width: 16px;
					height: 16px;
					display: flex;
					justify-content: center;
					align-items: center;
					display: inline-block;
          margin-right: 6px;
          margin-bottom: 6px;
					transition: .1s linear;

					img{
						width: 100%;
						max-width: 20px;
					}

					&:hover{
						transform: scale(1.1);
					}
				}
				
				&:first-child{
					a {
						font-weight: 600;
					}
				}
				
				@media only screen and (min-width : 800px) {
					flex: 0 0 25%;
				}
			}
		}
	}

	/* Job description */
	.description{
		margin-top: 2rem;
	}
	.description h1, .description h2, .description h3, .description h4, .description h5, .description h6{
		font-weight: 600;
		font-size: 1.1rem;
		margin: 0; padding: 0;
		margin-bottom: 2rem;
		box-sizing: border-box;
	}
	.description > img{
		margin-bottom: 1rem;
	}
	.description h1,
	.description h2,
	.description h3,
	.description h4,
	.description h5,
	.description h6{
		font-size: 1.4rem;
		margin-bottom: 1.5rem;
	}
	.description p{
		margin: 0;
		padding: 0;
		margin-bottom: 1rem !important;
		box-sizing: border-box;
		line-height: 1.6;
		color: black !important;
	}
	.description ul{
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;
		box-sizing: border-box;
		margin-left: 3rem;
		line-height: 1.6;

		li{
			margin-bottom: 1rem;
			font-size: .8rem;

			@media only screen and (min-width : 800px) {
				font-size: 1rem;
			}
		}
	}
  /* ----------------------------------- */
  
  /* category vertical menu xd */
  .categories{
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    
    @media only screen and (min-width : 768px) {
      overflow-x: initial;
      justify-content: center;
      margin-bottom: 2rem;
		}
    a{
      flex: 0 0 auto;
      padding-right: 26px;
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
      text-align: center;

      i{
        font-style: normal;
        font-size: 18px;
      }
      span{
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 12px;
      }
    }
  }

	/* List of jobs */
	.trabajos{
		display: flex; flex-flow: column wrap;
		justify-content: flex-end; align-items: flex-start;
	}
	.trabajos .trabajo{
		flex: 0 0 100%;
		width: 100%; float: right;
		text-align: left;
		border: 1px solid #dedede;
		padding: 0; margin: 0;
		margin-bottom: 1rem;
		box-sizing: border-box;
		position: relative;
	}
	.trabajos .trabajo.featured{ 
		background-color: rgba(255,213,0,0.2); 
		border-color: rgba(255,213,0,0.2);
	}
	.trabajos .trabajo .a{
		display: block;
		padding: 1rem;
		position: relative;
	}
	.trabajos .trabajo .a > div:first-child:hover{
		cursor: pointer;
	}
	.trabajos .trabajo.categoria a{
		padding: 1rem 1rem;
		display: flex;
		align-items: center;
	}
	.trabajos .trabajo .img{
		position: absolute;
		top: 12px;
		display: none; flex-flow: row wrap; justify-content: center; align-items: center;
		width: 64px; max-width: 64px;
		height: 64px; max-height: 64px;
		background-color: white; border: 1px solid #dedede;
		border-radius: 50px;
		left: -32px;
		overflow: hidden;
	}
	.trabajos .trabajo.categoria img{
		width: 32px; max-width: 32px;
		height: 32px; max-height: 32px;
		margin-left: 0.5rem;
		margin-right: 1.5rem;
	}
	.trabajos .trabajo .img img{ max-width: 64px; width: 64px; }
	.trabajos .trabajo h2{
		margin: 0; padding: 0;
		display: flex; 
		flex-flow: row nowrap;
		justify-content: space-between; 
		align-items: center;
		font-size: 1.1rem;
	}
	.trabajos .trabajo h3{
		font-weight: 400;
		margin: 0; padding: 0;
	}
	.trabajos .trabajo h2 span{
		font-size: 1.2rem;
		color: #838383;
		font-weight: 400;
	}
	.trabajos .trabajo p{
		margin: 0; padding: 0;
		color: #838383;
		padding-bottom: .5rem;
	}
	.trabajos .trabajo h2 span, .trabajos .trabajo p{
		font-size: .8rem;
	}
	.empty-message {
		margin: 40px auto;
	}
	/* ----------------------------------- */

	/* Submit new job listing form */
	form.publicar-anuncio{
		display: flex; flex-flow: row wrap;
		justify-content: space-between; align-items: flex-start;
		width: 100%; max-width: 100%;
		margin: 0 auto;
	}
	form.publicar-anuncio label{
		display: flex; flex-flow: column wrap;
		justify-content: space-between; align-items: flex-start;
		flex: 0 0 100%;
		text-align: left;
		box-sizing: border-box;
		margin-bottom: 2rem;
	}
	form.publicar-anuncio label input, form.publicar-anuncio label select{
		width: 100%; padding: 12px;
		border: 1px solid #dedede;
		background-color: white;
		box-sizing: border-box;
	}
	form.publicar-anuncio label small{
		margin-top: .5rem;
		color: #666;
	}
	form.publicar-anuncio label p{
		margin: 0; padding: 0;
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: .5rem;
		position: relative;
	}
	form.publicar-anuncio span.required{
		position: absolute;
		top: 0;
		right: -13px;
		width: 6px; height: 6px;
		background-color: #FF4114;
		border-radius: 80px;
	}
	form.publicar-anuncio .boton-pagar{
		display: flex; flex-flow: row nowrap;
		justify-content: space-between; align-items: center;
		flex: 0 0 100%;
		width: 100%;
		margin-top: 2rem;
	}
	form.publicar-anuncio .boton-pagar p{
		font-size: 1.4rem;
		font-weight: 700;
		display: flex;
		align-items: flex-end;
	}
	form.publicar-anuncio .boton-pagar p span{
		color: #FF4114;
		margin-left: .5rem;
		font-size: 1.8rem;
		display: flex;
	}
	.custom-checkbox-row input[type="checkbox"] {
		margin: 0;
		opacity: 0;
	}
	.custom-checkbox-row {
		position: relative;
		margin-bottom: 0 !important;
	}
	.custom-checkbox-row input[type="checkbox"] + p {
		padding-left: 30px;
		font-size: 1rem;
		position: realtive;
		font-weight: 300;
		display: inline-block;
	}
	.custom-checkbox-row p span{
		font-weight: 700;
		color: #FF4114;
	}
	.custom-checkbox-row input[type="checkbox"] + p::before {
		border-color: #dddddd;
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		content: "";
		cursor: pointer;
		display: inline-block;
		height: 17px;
		left: 0;
		position: absolute;
		transition: 0.3s linear all;
		width: 17px;
	}
	.custom-checkbox-row input[type="checkbox"] + p::before {
		border-color: #dddddd;
		background-color: #dddddd;
		border-radius: 0;
		transform: scale(1);
	}
	.custom-checkbox-row input[type="checkbox"]:checked + p::before {
		border-color: #dddddd;
		border-style: dotted;
		transition: 0.3s linear all;
	}
	.custom-checkbox-row input[type="checkbox"]:checked + p::before {
		background-color: #FF4114;
		border-style: solid;
		transform: scale(1.1);
		border-color: #FF4114;
	}
	.custom-checkbox-row input[type="checkbox"]:checked + p::after {
		transform: scale(1);
		opacity: 1;
	}
	.custom-checkbox-row  input[type="checkbox"]:checked + p::after {
		color: #FF4114;
		cursor: pointer;
		left: 5px;
		position: absolute;
		top: 5px;
		transform: scale(1);
		transition: 0.3s linear all;
	}
	.custom-checkbox-row  input[type="checkbox"] + p::after {
		transform: scale(2);
		opacity: 0;
	}
	.custom-checkbox-row  input[type="checkbox"] + p::after {
		content: "";
		transform: scale(0);
		transition: 0.3s linear all;
	}
	.publication-editor {
		width: 100%;
	}
	.publication-editor textarea {
		width: 100%;
	}
	.editor-toolbar {
		border-color: #dedede !important;
	}
	.spinner-container {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		transform: translate(-50%, -50%);
	}
	.spinner-container svg {
		height: 70%;
		animation: spin 1s infinite;
	}
	@keyframes spin {
		0% { transform: rotate(0deg)}
		100% { transform: rotate(360deg)}
	}
	/* ----------------------------------- */

	/* About us */
	.about .container{
		text-align: left;
	}
	/* ----------------------------------- */

	/* Email Octopus */
	.email-octopus-form-wrapper{
		width: 100%;
		text-align: left;

		h4{
			margin-top: 0 !important;
			margin-bottom: .5rem !important;
			font-size: 16px !important;
		}
		button{
			border: none !important;
			background-color: #FF4114 !important;
			font-weight: 700 !important;
			color: white !important;
		}
		@media only screen and (min-width : 768px) {
			text-align: center;
		}
	}
	.g-recaptcha{ display: none; }
	/* ----------------------------------- */

	/* Desktop menu */
	nav.desktop{
		display: none;
		border-bottom: 1px solid #dedede;
		position: fixed; top: 0; left: 0;
		width: 100%; max-width: 100%;
		z-index: 9999;
		background-color: white;
	}
	nav.desktop .logo:hover{ cursor :pointer; }
	nav.desktop img{ max-height: 44px; }
	nav.desktop .container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between; align-items: center;
		height: 64px; max-height: 64px;
	}
	nav.desktop a:hover{ cursor: pointer; }
	nav.desktop .container ul{
		margin: 0; padding: 0;
		display: flex; flex-flow: row nowrap;
		justify-content: flex-end; align-items: center;
		list-style-type: none;
		position: relative;
	}
	nav.desktop .container ul li a{
		margin-right: 1rem;
		font-weight: 600;
		font-size: .9rem;
		position: relative;
	}
	nav.desktop ul.dropdown{
		position: absolute;
		display: none; flex-flow: column wrap;
		padding: 1rem;
		background-color: white;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
		width: 170px;
		border-radius: 2px;
		left: -60px;
		z-index: 9999;
		margin-top: 1rem;
	}
	nav.desktop .dropdown-parent{ 
		position: relative;
	}
	nav.desktop .dropdown-parent:hover ul.dropdown{ display: flex; }
	nav.desktop ul.dropdown::after{
		content: '';
		position: absolute;
		top: -1rem;
		bottom: 0;
		width: 100%;
		height: 1rem;
	}
	nav.desktop ul.dropdown li{
		width: 100%;
		text-align: left;
		margin-bottom: 1rem;
	}
	nav.desktop ul.dropdown li:last-child{ margin-bottom: 0; }
	nav.desktop .search{ 
		margin-right: 1rem; 
		position: relative; 

		img{
			width: 18px; 
			top: 3px; 
			position: relative;
		}
		&:hover{
			cursor: pointer;
		}
	}
	/* ----------------------------------- */

	/*  JobsList Loader. */
	.blink-wrapper {
		    width: 100%;
		margin-top: 50px;
		margin-bottom: -50px;
	}
	.blink {
		display: inline-block;
		border-radius: 50px;
		width: 30px;
		height: 30px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 65, 20, 0.15);
			border-radius: 50px;
			opacity: 0;
		}
		
		&:before {
			transform: scale(1);
			animation: blink 1.6s infinite linear;
		}
		
		&:after {
			animation: blink 1.6s 1.2s infinite linear;
		}
	}
	@keyframes blink {
	0% {
		opacity: 0;
		transform: scale(0.4);
	}
	33.33333% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
	}
	/* ----------------------------------- */
	
	/* Desktop search bar */
	.search-desktop{
		transition: all 0.15s;
		display: block;
		position: fixed;
		top: 65px;
		left: 0;
		width: 100%;
		padding: 0 1rem;
		height: 0px;
		margin: 0;
		z-index: 99999;
		background: #f8f9fa;
    	box-shadow: 0 2px 2px rgba(0,0,0,0.15);
		overflow: hidden;

		.container{
			margin: 0 auto;
			padding: 0;
			text-align: left;

			input{
				border: none;
				background: none;
				width: 100%;
				font-size: 14px;
				outline: none;
				color: #4d5154;
			}
		}
		&.active{
			height: 19px;
			padding: 1rem;
		}
	}
	/* ----------------------------------- */

	/* Mobile menu */
	nav.mobile{
		display: block;
		position: fixed;
		left: 0; width: 100%; max-width: 100%;
		min-height: 64px; max-height: 64px; height: 64px;
		background-color: white;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
		padding: 1rem; box-sizing: border-box;
		z-index: 999;
	}
	nav.mobile.top{ top: 0; }
	nav.mobile.bottom{ bottom: 0; }
	nav.mobile.top form{ 
		display: flex; 
		flex-flow: row nowrap;
		justify-content: flex-start; align-items: center;
		background-color: #f2f2f2;
		padding: 4px 16px;
		box-sizing: border-box;
		border-radius: 50px; width: 100%;
	}
	nav.mobile.top form img{
		width: 20px; max-width: 20px;
		transform: scale(.8);
	}
	nav.mobile.top form input{
		border: none;
		background-color: transparent;
		font-size: .8rem;
		margin-left: 12px;
		outline: none;
		flex: 1;
	}
	nav.mobile.bottom ul{
		display: flex; flex-flow: row nowrap;
		justify-content: space-around; align-items: center;
		margin: 0; padding: 0; width: 100%; max-width: 100%;
		list-style-type: none;
		font-size: .8rem;
	}
	nav.mobile.bottom ul li a.active{
		color: #FF4114;
	}
	nav.mobile.bottom ul li a{
		position: relative;
		min-height: 40px; display: flex;
		flex-flow: row wrap; justify-content: center; align-items: flex-end;
	}
	nav.mobile.bottom ul li a::before{
		content: '';
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: absolute; width: 25px; height: 25px;
		top: -5px;
	}
	nav.mobile.bottom ul li.blog a::before{ background-image: url('/static/images/blog.svg'); }
	nav.mobile.bottom ul li.inicio a::before{ background-image: url('/static/images/home.svg'); }
	nav.mobile.bottom ul li.categorias a::before{ background-image: url('/static/images/list.svg'); }
	nav.mobile.bottom ul li.publicar a::before{ background-image: url('/static/images/telegram.svg'); }
	/* Same icons with accent color */
	nav.mobile.bottom ul li.blog a.active::before{ background-image: url('/static/images/blog-accent.svg'); }
	nav.mobile.bottom ul li.inicio a.active::before{ background-image: url('/static/images/home-accent.svg'); }
	nav.mobile.bottom ul li.categorias a.active::before{ background-image: url('/static/images/list-accent.svg'); }
	/* ----------------------------------- */

	/* Single job listing */
	.anuncio .container{
		display: flex; flex-flow: column-reverse wrap;
		justify-content: space-between; align-items: flex-start;

		@media only screen and (min-width : 800px) {
			flex-flow: row wrap;
		}
	}
	.anuncio .container .content{
		flex: 0 0 100%;
		text-align: left;
		max-width: 100%;
	}
	.anuncio .container .content.content.fullwidth.center{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.anuncio .container .sidebar{
		flex: 0 0 100%;
		display: block;
		position: relative;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	.anuncio .container .sidebar a{
		display: none;

		@media only screen and (min-width : 800px) {
			display: inline-block;
		}
	}
	.anuncio .container .sidebar .img{
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 96px; max-width: 96px;
		height: 96px; max-height: 96px;
		display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
		background-color: white; border: 1px solid #dedede;
		border-radius: 50px;
		overflow: hidden;
		margin-bottom: 1rem;
	}
	.anuncio .container .sidebar .img img{
		position: absolute;
		top: 50%; transform: translateY(-50%);
		width: 100%; max-width: 100%;
		height: 100%; max-height: 100%;
		left: 0;
	}
	.anuncio .container .sidebar h2{
		margin-top: 0;
	}
	.anuncio .container .content > h1{
		margin: 0; padding: 0;
		margin-top: .5rem;
	}
	.anuncio .container .content a{
		font-weight: 700;
		background-color: rgba(221,224,244,0.9);
		transition: .1s linear;
	}
	.anuncio .container .content img{ max-width: 100%; }
	.anuncio .container .content p, .anuncio .container .content ul, .anuncio .container .content > div{
		margin: 0; padding: 0;
		margin-bottom: 1rem;
		box-sizing: border-box;
		line-height: 1.6;
	}
	.anuncio .container .content ul{ margin-left: 3rem; }
	.anuncio .container .content li{ margin-bottom: 1rem; }
	/* ----------------------------------- */

	/* Blog styles */
	.blog-title{
		box-sizing: border-box;
		width: 100%;
		max-width: 960px;
		text-align: left;
		padding: 1rem;
		margin: 0 auto;
		padding-bottom: 0;

		h1{
			margin: 0;
			padding: 0;
			font-size: 1.4rem;
			margin-bottom: .5rem;
		}
		p.date{
			text-transform: uppercase;
			color: #838383;
			margin: 0; padding: 0;
		}
		@media only screen and (min-width : 800px) {
			text-align: center;

			h1{
				font-size: 2rem;
			}
		}
	}

	/* Contenedores que tienen margen */
	.trabajos, .nuevo, .anuncio, .about{ margin-top: 2rem; margin-bottom: 2rem; }
	.trabajos.notop{ margin-top: 0 !important; }
	.trabajos.nobottom{ margin-bottom: 0 !important; }
	/* ----------------------------------- */

	/* Extra text for SEO */
	.extra .container{
		text-align: left;
		display: block;
		margin: 0 auto;
		margin-bottom: 2rem;

		a{
			font-weight: 700;
			background-color: rgba(221,224,244,0.9);
			-webkit-transition: .1s linear;
			transition: .1s linear;
		}
		p{
			line-height: 1.6;
		}
	}
	/* ----------------------------------- */

	/* Main button */
	.main-button{
		color: white;
		border: none; outline: none;
		background-color: #FF4114 !important;
		font-weight: 700;
		border-radius: 2px;
		display: block;
		width: auto;
		max-width: 180px;
		text-align: center;
		/* min-width: 150px; */
		font-size: .8rem;
		box-sizing: border-box;
		padding: 8px 24px;
		position: relative;
	}
	.main-button.solicitar{ margin-top: 1rem; }
	.main-button.big{ font-size: 1.1rem; max-width: 250px; }
	.main-button:hover{ 
		cursor: pointer; 
		box-shadow: 0 4px 16px rgba(0,1,31,0.2);
	}
	.main-button[disabled]{
		color: #FFF7D7;
		background-color: #FF8366;
	}
	.main-button[disabled]:hover{ 
		cursor: initial; 
		box-shadow: none;
	}
	/* ----------------------------------- */

	
	#bmc-wbtn{ bottom: 72px !important; }
	
	/* Tablets */
	@media only screen and (min-width : 800px) {	
		#bmc-wbtn{ bottom: 18px !important; }

		body{ padding-bottom: 0; }

		.hero p{
			text-align: center;
			font-size: 2.2rem;
		}
		.hero h1{
			text-align: center;
		}

		.anuncio .container .content{
			flex: 0 0 65%;
			text-align: left;
		}
		.anuncio .container .content.fullwidth{ 
			flex: 0 0 70%; 
			margin: 0 auto;

		}
		.anuncio .container .sidebar{
			flex: 0 0 30%;
			display: block;
			background-color: #f8f9fa;
			padding: 2rem 1rem;
			border-radius: 2px;
			box-shadow: 0 1px 5px rgba(0,0,0,0.15);
		}

		nav.mobile{ display: none; }
		nav.desktop{ display: flex; }

		form.publicar-anuncio label.small{ flex: 0 0 49%; }


		.trabajos, .nuevo, .anuncio, .about{ padding-top: 1rem; padding-bottom: 1rem; }

		.trabajos .trabajo{ width: calc(100% - 32px); float: right; }
		.trabajos .trabajo .a{ padding: 1rem 3.5rem; }
		.trabajos .trabajo h2{ font-size: 1.6rem; }
		.trabajos .trabajo h2 span, .trabajos .trabajo p{ font-size: 1rem; }
		.trabajos .trabajo .img{ display: flex; }
	}
	/* ----------------------------------- */

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 62em) {
	}
	/* ----------------------------------- */

	::selection{
		background-color: rgba(245, 224, 106, 0.959);
		color: black;
	}

	.trabajo.anuncio{
		border: 4px dashed rgb(222, 222, 222) !important;
	}